<div class="person-grid gap-2 flex-wrap">
  <div class="person-filter main"
       [class.selected]="activeFilters().has('HAPPY_HUSBAND')">
    <app-photo [photo]="{url: '/assets/images/HAPPY_HUSBAND.png'}"
               (click)="filterBy('HAPPY_HUSBAND')">
    </app-photo>
  </div>
  <div class="person-filter main"
       [class.selected]="activeFilters().has('BEST_WIFE')">
    <app-photo [photo]="{url: '/assets/images/BEST_WIFE.png'}"
               (click)="filterBy('BEST_WIFE')">
    </app-photo>
  </div>
  <div *ngFor="let person of PEOPLE"
       class="person-filter"
       [class.selected]="activeFilters().has(person)">
    <app-photo [photo]="{url: '/assets/images/' + person + '.png'}"
               (click)="filterBy(person)">
    </app-photo>
  </div>
</div>

<iframe class="button-download" src="https://wedding-photos-dima-and-sveta.web.app/index.html"></iframe>
