:host {
}

.button-download {
  margin-left: auto;
  height: 36px;
  width: 150px;
}
.person-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  grid-auto-rows: 70px;
  gap: 1em;
  min-width: 328px;
  max-width: 590px;
  justify-content: center;
}

.person-filter {
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;

  app-photo {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  &.selected:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    $width: 5px;
    width: calc(100% + $width * 2);
    height: calc(100% + $width * 2);
    left: -$width;
    top: -$width;
    //background: #FFB300;
    background: #ffd54f;
    z-index: -1;
  }
}


.video {
  aspect-ratio: 16/9;
  max-width: 550px;
  width: 50vw;
  min-width: 330px;
}

.main-filter {
  height: 110px;
}
