<cdk-virtual-scroll-viewport [itemSize]="imageHeight()"
                             [attr.images-per-line-size]="imagePerLineSize()"
                             class="photo-gallery-viewport"
                             [minBufferPx]="1000"
                             [maxBufferPx]="2000">
  <div *cdkVirtualFor="let row of imageRows(); trackBy: trackById;"
       class="gallery-line"
       [style.height.px]="imageHeight()">
    <app-photo *ngFor="let image of row.images;let i = index;trackBy: trackById;"
               [photo]="$any(image)"
               photoSwiper
               alt="wedding-photo"
               class="photo"></app-photo>
  </div>
</cdk-virtual-scroll-viewport>


<div *ngIf="imageRows().length === 0"
     class="flex flex-col items-center m-2 mb-6">
  <img class="empty-results__image" src="/assets/images/empty-results.png" alt="empty result"/>
  <h2 class="text-center mx-8">
    К сожалению, по вашим выбранным фильтрам нет фотографий.
    <br>
    Попробуйте изменить параметры фильтров
  </h2>
</div>
