
:host {
  display: block;
}

.photo[index]:before {
  content: attr(index);
  position: absolute;
  font-size: 24px;
  color: white;
  z-index: 1000;
}

.gallery-line {
  display: flex;
  gap: 4px;
}

.photo-gallery-viewport {
  height: 100%;
}

.gallery-line {
  margin-bottom: 4px;
}

.photo {
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.photo-gallery-viewport[images-per-line-size="2"] .photo {
  width: 50%;
}

.photo-gallery-viewport[images-per-line-size="3"] .photo {
  width: 33.3333333%;
}

.photo-gallery-viewport[images-per-line-size="4"] .photo {
  width: 25%;
}
