
:host {
  display: block;
}

.gallery-line {
  display: flex;
  gap: 4px;
}

.photo-gallery-viewport {
  height: 100%;
}

.gallery-line {
  margin-bottom: 4px;
}

.photo {
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
}

.photo-gallery-viewport[images-per-line-size="2"] .photo {
  width: 50%;
}

.photo-gallery-viewport[images-per-line-size="3"] .photo {
  width: 33.3333333%;
}

.photo-gallery-viewport[images-per-line-size="4"] .photo {
  width: 25%;
}

.empty-results__image {
  width: 30%;
  max-width: 400px;
  aspect-ratio: 1;
  object-fit: contain;
}
